.head div span {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.head div span a {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.usd-hover {
  position: relative;
  font-size: 0.85rem;
}

.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  list-style: none;
  margin: 2px 0 0 0;
  padding: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: none;
  z-index: 1000;
  min-width: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  padding: 2px 8px;
  cursor: pointer;
  font-size: 0.90rem;
  text-align: left;
}

.dropdown-menu a {
  text-decoration: none;
  color: #000;
}

.dropdown-menu li:hover {
  background-color: #f5f5f5;
}

.usd-hover:hover .dropdown-menu {
  display: block;
}

nav ul {

  padding-left: 0;
  margin-left: 0;
}

nav ul li {
  cursor: pointer;
  list-style-type: none;
  position: relative;
}

.navbarr nav ul li a {
  text-decoration: none;
  color: black;
  position: relative;
  transition: color 0.3s ease;
}

.navbarr ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #e63737;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbarr ul li a:hover::after {
  width: 100%;
}


/* link :active */

.navbarr ul li a {
  text-decoration: none;
  color: #000;
  position: relative;
  transition: color 0.4s ease;
}

.navbarr ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #e63737;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.navbarr ul li a:hover::after {
  width: 100%;
}

.navbarr ul li a.active-link {
  color: #000;
}

.navbarr ul li a.active-link::after {
  width: 100%;
}

/* end link:active */